{% extends 'base.html.twig' %}

{% block body %}

    <div class="bg-amber-50 p-4 border-black border-2 rounded">
        <h2>
            Bienvenue sur Scion Interface !
        </h2>
        <p>Créez votre personnage Scion et améliorez le au fil de ses aventures.</p>
    </div>
    <div class="m-2">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="bg-gray-800 text-white p-2" href="">Mon profil</a>
            <a class="bg-gray-800 text-white p-2" href="">Mes personnages</a>
            <a class="bg-gray-800 text-white p-2" href="">Mes campagnes</a>
        {% else %}
            <a href="" class="bg-gray-800 text-white p-2">Se connecter</a>
            <a href="" class="bg-gray-800 text-white p-2">S'inscrire</a>
        {% endif %}
    </div>


{% endblock %}