{% extends 'base.html.twig' %}

{% block body %}
    <h2>
        Bienvenue sur Scion Interface !
    </h2>
    <p>Créez votre personnage Scion et améliorer le au fil de ses aventures.</p>
{% endblock %}