{% extends 'base.html.twig' %}

{% block body %}

    <div class="bg-amber-50 p-4 border-black border-2 rounded">
        <h2>
            Bienvenue sur Scion Interface !
        </h2>
        <p>Créez votre personnage Scion et améliorez le au fil de ses aventures.</p>
    </div>
    <div class="m-2">
        <a href="" class="bg-gray-800 text-white p-2">Se connecter</a>
        <a href="" class="bg-gray-800 text-white p-2">S'inscrire</a>
    </div>


{% endblock %}